{% load tree %}
{% if children == True %}
        {% for item in menu_items %}
            {% if forloop.first %}
                <ul class="{% if item.parent %}submenu{% else %}topmenu{% endif %}">
            {% endif %}
                    <li>
                        <a href="{% url 'main-slug' item.slug %}">{{item.name}}</a>
                        {% draw_menu item.menu.name item.id %}
                    </li>
            {% if forloop.last %}
                </ul>
            {% endif %}
        {%endfor%}
{% endif %}
